.my-drawer {
  position: relative;
  overflow: auto;
  z-index: 0;
  -webkit-overflow-scrolling: touch;
  min-height: unset!important;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#root{
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navBar-svg{
  position: absolute;
}

.reactMde{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}

.reactMde > :nth-child(2){
  display: flex;
  flex: 1;
}

.reactMde .mde-textarea-wrapper{
  display: flex;
  flex: 1;
}

.reactMde .mde-header{
  justify-content: space-around;
}

.reactMde textarea{
  height: unset!important;
}

.grip{
  display: none;
}

.am-tabs-pane-wrap{
  display: flex;
  flex-direction: column;
}

.am-card{
  min-height: unset;
}

.login-input .am-list-line{
  border-bottom: unset!important;
}

.am-list-body{
  background-color: unset;
  border-top: unset;
  border-bottom: unset;
}

.am-list-line {
  border-bottom: unset!important;
}

.my-drawer .am-list-body{
  flex: 1;
  position: relative;
}

.splash-indicator{
  display: flex;
  flex-direction: column;
  justify-content: center;
}