.my-drawer {
  position: relative;
  overflow: auto;
  z-index: 0;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#root{
  height: 100vh;
  overflow: hidden;
}

.navBar-svg{
  position: absolute;
}